<a href="https://colab.research.google.com/github/YasuharuSuzuki/23_programing2/blob/main/" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01. ワクチン接種データの読み込みとデータ加工v2
- Notebookに記述されたプログラムの流れに従って、データを加工するプログラムを作成してください
  - 使用データ
    - ./data/prefectures_v2.csv  都道府県IDと都道府県データ
    - ./data/vaccination_v2.csv  2021年4月12日〜７月22日のワクチン接種データ
    - 中間テストとの違いは、.csvになっている点です。pandasを使って読み込みましょう。
  - データ加工
    - DataFrame/ユーザー定義関数/クラスを使用して加工します
    - 最終的にはユーザー定義関数を.pyファイルにモジュール化して読み込みます

### 00. 定数の定義
- データファイルパスを定義しておきます
- データ読み込みの際にご使用してください。修正は不要です

In [1]:
# データファイルパス定義
PREFECTURES_V2_CSV = "./data/prefectures_v2.csv"
VACCINATION_V2_CSV = "./data/vaccination_v2.csv"
OKINAWA_VACCINATION_V2_CSV = "./data/okinawa_vaccination_v2.csv"

## 01. 都道府県データの読み込み(0.5点)
1. GoogleDriveをマウントしましょう
  - 第４回の授業で行ったようにショートカットを作成しましょう
  - ショートカット先は採点する先生が読み込み可能な共有ドライブで作成してください。
  - GoogleDriveをマウント後、データが読み込み可能なようにカレントディレクトリを変更してください。

2. ./data/prefectures_v2.csv を読み込みましょう
  - csvで都道府県IDと都道府県名が定義されているため、DataFrame型で読み込みましょう
    - ヒント：read_csv()という関数を使うと読込みできます。index_col=0を指定して、都道府県IDをindexにしましょう。
    - [参考サイト：read_csv()](https://note.nkmk.me/python-pandas-read-csv-tsv/)
  - 読み込んだデータは df_prefectures というDataFrame型の変数に格納してください。

In [2]:
# GoogleDriveをMount

# カレントディレクトリを変更。作成したショーットカット名を使ってパスを指定します。

# ファイルを読み込みながらDataFrame型で取得

# df_prefectures  # この名前のDataFrame型の変数に格納する形でプログラムを作成してください

## 02. 読み込んだDataFrame型の変数を表示(0.5点)
- 変数を表示するだけのプログラムを書いておきますので、プログラムを修正せずにIDと名前が出力されれば正解です
  - loc[]を使用してIDと都道府県名の両方を指定したり、都道府県名だけを取り出すことができます。
  - [locの参考サイト](https://note.nkmk.me/python-pandas-at-iat-loc-iloc/)

In [3]:
df_prefectures

       都道府県名
都道府県ID
1        北海道
2        青森県
3        岩手県
4        宮城県
5        秋田県
6        山形県
7        福島県
8        茨城県
9        栃木県
10       群馬県
11       埼玉県
12       千葉県
13       東京都
14      神奈川県
15       新潟県
16       富山県
17       石川県
18       福井県
19       山梨県
20       長野県
21       岐阜県
22       静岡県
23       愛知県
24       三重県
25       滋賀県
26       京都府
27       大阪府
28       兵庫県
29       奈良県
30      和歌山県
31       鳥取県
32       島根県
33       岡山県
34       広島県
35       山口県
36       徳島県
37       香川県
38       愛媛県
39       高知県
40       福岡県
41       佐賀県
42       長崎県
43       熊本県
44       大分県
45       宮崎県
46      鹿児島県
47       沖縄県

In [4]:
df_prefectures.loc[1,:]

都道府県名    北海道
Name: 1, dtype: object

In [5]:
df_prefectures.loc[47,"都道府県名"]

'沖縄県'

In [6]:
df_prefectures.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47 entries, 1 to 47
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   都道府県名   47 non-null     object
dtypes: object(1)
memory usage: 1.8+ KB

In [7]:
df_prefectures.describe()

       都道府県名
count     47
unique    47
top      北海道
freq       1

## 03. ワクチン接種データクラスの定義(0.5点)
1. Vaccinationのクラス定義
  - 以下のインスタンス変数を持つクラスを定義しましょう
    - day  --- 日付
    - prefecture_name  --- 都道府県名
    - count  --- ワクチン接種数

## 04. ワクチン接種データクラスの表示(0.5点)
- インスタンス変数を表示するだけのプログラムを書いておきますので、プログラムを修正せずにクラス定義が表示されれば正解です
  - 都道府県IDを指定して、都道府県名に変換して取得しておく点に気をつけましょう

In [9]:
vaccination1 = Vaccination("2021-04-12", 1,116) # 日付(2021-04-12)、北海道(都道府県ID＝1)、接種数(116件)
print(vaccination1.day)
print(vaccination1.prefecture_name)
print(vaccination1.count)

2021-04-12
北海道
116

## 05. ワクチン接種データの読み込み(0.5点)
1. GoogleDriveから ./data/vaccination_v2.csv を読み込みましょう
  - csvで日付、都道府県ID、ワクチン接種数が定義されているため、DataFrameインスタンスに読み込みましょう
    - ヒント：read_csv()関数で読込みできます。index_colは未指定とし、indexが自動で作られる指定をしましょう。
  - 読み込んだ DataFrameインスタンスは df_vaccination という型の変数に格納してください。
  - 日付は文字列型で読み込まれてしまうため、datetime64型に変換しましょう
    - ヒント：to_datetime()で型を日付型に変換できます
    - [参考サイト：to_datetime()](https://qiita.com/mSpring/items/6ec1ab28dcb261db2c73)

In [10]:
# ワクチン接種情報をファイルからDataFrameに取得
# df_vaccination という変数に格納します

#### merge関数を使用してDataFrame同士を結合する
- 以下の関数はそのまま実行して、都道府県IDをキーとしてDataFrame同士を結合しましょう
- [参考サイト : merge関数](https://note.nkmk.me/python-pandas-merge-join/)

In [11]:
# 以下の関数はそのまま実行して、都道府県IDをキーとしてDataFrame同士を結合しましょう
# df_vaccination 変数に上書きで格納します
df_vaccination = pd.merge(df_vaccination, df_prefectures, on='都道府県ID')

## 06. ワクチン接種データの表示(0.5点)
- 全ワクチン接種データの先頭5件と終端5件を表示するだけのプログラムを書いておきますので、プログラムを修正せずにデータが表示されれば正解です

In [12]:
print("データ件数＝", len(df_vaccination))

pd.concat([df_vaccination.head(),df_vaccination.tail()])

データ件数＝ 4760

             日付  都道府県ID  ワクチン接種数 都道府県名
0    2021-04-12       1      283   北海道
1    2021-04-13       1      317   北海道
2    2021-04-14       1      264   北海道
3    2021-04-15       1      753   北海道
4    2021-04-16       1     1082   北海道
4755 2021-07-18      31     5625   鳥取県
4756 2021-07-19      31     3214   鳥取県
4757 2021-07-20      31     4585   鳥取県
4758 2021-07-21      31     4238   鳥取県
4759 2021-07-22      31     1247   鳥取県

In [13]:
df_vaccination.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   日付       4760 non-null   datetime64[ns]
 1   都道府県ID   4760 non-null   int64
 2   ワクチン接種数  4760 non-null   int64
 3   都道府県名    4760 non-null   object
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 148.9+ KB

In [14]:
df_vaccination.describe()

                                  日付       都道府県ID        ワクチン接種数
count                           4760  4760.000000    4760.000000
mean   2021-06-01 18:32:58.487394816    23.996008   13405.127101
min              2021-04-12 00:00:00     1.000000       1.000000
25%              2021-05-08 00:00:00    12.000000    1607.000000
50%              2021-06-02 00:00:00    24.000000    7442.500000
75%              2021-06-27 00:00:00    36.000000   15866.500000
max              2021-07-22 00:00:00    47.000000  152137.000000
std                              NaN    13.566139   18858.498228

## 07. ユーザー定義関数の作成(0.5点)
1. 日付と都道府県名を指定したらワクチン接種数を返すユーザー定義関数を作成してください
  - ユーザー定義関数名はgetVaccinationCountとします
  - DataFrameから複数条件を指定して値を取り出すには、[ブーリアンインデックス]((https://note.nkmk.me/python-pandas-multiple-conditions/)を使いましょう
  - 日付文字列を日付型に変換するには、[strptime()](https://note.nkmk.me/python-datetime-usage/)を使用しましょう
2. 条件を指定して取り出した1行のDataFrameからワクチン接種数を取り出すには、iloc関数を使って　`.iloc[0,:]["ワクチン接種数"]` のように指定するとできます。
  - [iloc 参考サイト](https://note.nkmk.me/python-pandas-at-iat-loc-iloc/)
  - iat関数など他の方法を使用してもOKです

In [15]:
import datetime as dt

## 08. ワクチン接種数を返すユーザー定義関数の使用(0.5点)
- ワクチン接種数を何件か表示するだけのプログラムを書いておきますので、プログラムを修正せずに出力結果が同じであれば正解です。

In [16]:
getVaccinationCount("2021-05-11","高知県")

3045

In [17]:
# 10件表示
validation_list = [
    Vaccination("2021-06-24", 45, 11994),
    Vaccination("2021-05-08", 39, 2966),
    Vaccination("2021-05-12", 1, 8827),
    Vaccination("2021-05-23", 30, 5850),
    Vaccination("2021-05-11", 39, 3045),
    Vaccination("2021-06-09", 37, 7967),
    Vaccination("2021-04-19", 15, 370),
    Vaccination("2021-07-09", 22, 32609),
    Vaccination("2021-06-22", 15, 20737),
    Vaccination("2021-04-26", 16, 1191),
]

for validation1 in validation_list:
    if getVaccinationCount(validation1.day, validation1.prefecture_name) == validation1.count:
        print('OK!', validation1.day, validation1.prefecture_name, validation1.count)
    else:
        print('Error!')

OK! 2021-06-24 宮崎県 11994
OK! 2021-05-08 高知県 2966
OK! 2021-05-12 北海道 8827
OK! 2021-05-23 和歌山県 5850
OK! 2021-05-11 高知県 3045
OK! 2021-06-09 香川県 7967
OK! 2021-04-19 新潟県 370
OK! 2021-07-09 静岡県 32609
OK! 2021-06-22 新潟県 20737
OK! 2021-04-26 富山県 1191

In [18]:
# 全件検証
for index, validation1 in df_vaccination.iterrows():
    if getVaccinationCount(validation1["日付"].strftime('%Y-%m-%d'), validation1["都道府県名"]) != validation1["ワクチン接種数"]:
        print('Error!', validation1["日付"].str, validation1["都道府県名"], validation1["ワクチン接種数"])

## 09. 特定日付の都道府県ごとのワクチン接種数をsortして返すユーザー定義関数の作成(0.5点)
1. 特定日付の都道府県名ごとのワクチン接種数をsortして返すユーザー定義関数を作成してください
  - ユーザー定義関数名は sortPrefectureVaccinationsByDate とします

## 10. 特定日付の都道府県ごとのワクチン接種数をsortして返すユーザー定義関数の使用(0.5点)
- 特定日付の都道府県ごとのワクチン接種数を先頭５件と終端５件だけ表示するプログラムを書いておきますので、プログラムを修正せずに出力結果が同じであれば正解です。

In [20]:
df_vaccinations2021_0624 = sortPrefectureVaccinationsByDate("2021-06-24")
print("データ件数＝", len(df_vaccinations2021_0624))

pd.concat([df_vaccinations2021_0624.head(), df_vaccinations2021_0624.tail()])

データ件数＝ 47

             日付  都道府県ID  ワクチン接種数 都道府県名
4731 2021-06-24      31     5211   鳥取県
2410 2021-06-24      32     7130   島根県
3016 2021-06-24      39     7891   高知県
2712 2021-06-24      36     7919   徳島県
4634 2021-06-24      19     8555   山梨県
2007 2021-06-24      28    62290   兵庫県
277  2021-06-24      11    69093   埼玉県
1905 2021-06-24      27    82874   大阪府
583  2021-06-24      14    84367  神奈川県
481  2021-06-24      13   109624   東京都

In [21]:
df_vaccinations2021_0624.describe()

                        日付     都道府県ID        ワクチン接種数
count                   47  47.000000      47.000000
mean   2021-06-24 00:00:00  24.000000   26218.914894
min    2021-06-24 00:00:00   1.000000    5211.000000
25%    2021-06-24 00:00:00  12.500000   11388.000000
50%    2021-06-24 00:00:00  24.000000   17607.000000
75%    2021-06-24 00:00:00  35.500000   25517.000000
max    2021-06-24 00:00:00  47.000000  109624.000000
std                    NaN  13.711309   23927.253031

## 11. 沖縄県のワクチン接種データクラスの定義(0.5点)
1. OkinawaVaccination のクラス定義
  - Vaccinationクラスを継承して定義しましょう
  - 初期化メソッドはprefecture_nameは渡さずにオーバーライドして作成しましょう。
  - スーパークラスの初期化メソッドを呼び出すようにしましょう。
  - スーパークラスの初期化メソッドを呼び出す際には、prefecture_idは沖縄県の県IDを使用しましょう。

## 12. 沖縄県のワクチン接種データクラスの表示(0.5点)
- インスタンス変数を表示するだけのプログラムを書いておきますので、プログラムを修正せずにクラス定義が表示されれば正解です

In [23]:
okinawa_vaccination1 = OkinawaVaccination("2021-04-12", 49) # 日付(2021-04-12)、接種数(49件)
print(okinawa_vaccination1.day)
print(okinawa_vaccination1.prefecture_name)
print(okinawa_vaccination1.count)

2021-04-12
沖縄県
49

## 13. 沖縄県のワクチン接種データリストの作成(0.5点)
1. 沖縄県のワクチン接種データリストを作成し、df_okinawa_vaccination という変数に格納しましょう。
  - DataFrameから複数条件を指定して値を取り出すには、[ブーリアンインデックス]((https://note.nkmk.me/python-pandas-multiple-conditions/)を使いましょう

## 14. 沖縄県のワクチン接種データの表示(0.5点)
- 沖縄県の全ワクチン接種データの先頭5件と終端5件を表示するだけのプログラムを書いておきますので、プログラムを修正せずにデータが表示されれば正解です

In [25]:
print("データ件数＝", len(df_okinawa_vaccination))

pd.concat([df_okinawa_vaccination.head(), df_okinawa_vaccination.tail()])

データ件数＝ 102

             日付  都道府県ID  ワクチン接種数 都道府県名
3857 2021-04-12      47       49   沖縄県
3858 2021-04-13      47       48   沖縄県
3859 2021-04-14      47       72   沖縄県
3860 2021-04-15      47      195   沖縄県
3861 2021-04-16      47      246   沖縄県
3954 2021-07-18      47    15058   沖縄県
3955 2021-07-19      47     6969   沖縄県
3956 2021-07-20      47     6414   沖縄県
3957 2021-07-21      47     3199   沖縄県
3958 2021-07-22      47     4619   沖縄県

In [26]:
df_okinawa_vaccination.describe()

                        日付  都道府県ID       ワクチン接種数
count                  102   102.0    102.000000
mean   2021-06-01 12:00:00    47.0   5618.303922
min    2021-04-12 00:00:00    47.0     35.000000
25%    2021-05-07 06:00:00    47.0   1092.500000
50%    2021-06-01 12:00:00    47.0   4465.000000
75%    2021-06-26 18:00:00    47.0   9392.000000
max    2021-07-22 00:00:00    47.0  15135.000000
std                    NaN     0.0   4730.472806

## 15. 沖縄県のワクチン接種データの書き込み(0.5点)
1. 作成した沖縄県のワクチン接種データを ./data/okinawa_vaccination_v2.csv に出力しましょう
  - header付きで出力しましょう。
  - 日付、ワクチン接種数を出力しましょう。インデックス、都道府県ID、都道府県名は不要です。
  - pandasの[to_csv()関数](https://note.nkmk.me/python-pandas-to-csv/)を使用して出力しましょう。
    - index引数をFalseにするとインデックスなしで出力できます
    - columns引数を指定すると出力する列を指定できます
    - 詳しくは参考サイトを参照ください

In [27]:
# ファイル出力

## 16. 沖縄県のワクチン接種データの読み込みと表示(0.5点)
- 沖縄県の全ワクチン接種データを読み込んで、一部を表示するプログラムを書いておきます。
- プログラムを修正せずに同じデータが表示されれば正解です

In [28]:
df_okinawa_vaccination2 = pd.read_csv(OKINAWA_VACCINATION_V2_CSV)
df_okinawa_vaccination2['日付'] = pd.to_datetime(df_okinawa_vaccination2['日付'])

pd.concat([df_okinawa_vaccination2.head(), df_okinawa_vaccination2.tail()])

            日付  ワクチン接種数
0   2021-04-12       49
1   2021-04-13       48
2   2021-04-14       72
3   2021-04-15      195
4   2021-04-16      246
97  2021-07-18    15058
98  2021-07-19     6969
99  2021-07-20     6414
100 2021-07-21     3199
101 2021-07-22     4619

## 17. Pythonモジュールの作成(0.5点)
- 沖縄県のワクチン接種データを扱うPythonモジュール「okinawa_vaccination_v2.py」を作成してください。
- 作成するPythonモジュールには、日付を複数指定したら沖縄県のワクチン接種数の合計を返すユーザー定義関数を作成してください。
  - 関数名はgetTotalVaccinationsForDates()としてください
  - pandasでファイルを読み込むように記述しましょう
  - リストの日付かどうかをチェックするには、[isin()](https://note.nkmk.me/python-pandas-query/#inisin)を使用し、ブーリアンインデックスを使用して絞り込みましょう
  - 絞り込んだDataFrameを「ワクチン接種数」列のSeriesに絞り込み、さらにSeriesの合計を求める[sum()](https://note.nkmk.me/python-pandas-count-condition/)を使用して、ワクチン接種数の合計を求めましょう

In [29]:
# Pythonファイルにコードを記述してください。

## 18. Pythonモジュールの呼び出し(0.5点)
- 作成したPythonモジュール「okinawa_vaccination.py」の関数getTotalVaccinationsForDates()を使用するプログラムを書いておきます
- プログラムを修正せずに同じデータが表示されれば正解です

In [31]:
import importlib
import okinawa_vaccination_v2

importlib.reload(okinawa_vaccination_v2)
print(okinawa_vaccination_v2.getTotalVaccinationsForDates(['2021-04-12','2021-04-13']))
print(okinawa_vaccination_v2.getTotalVaccinationsForDates(['2021-07-12','2021-07-13','2021-07-14','2021-07-15','2021-07-16']))

97
53153